---
layout: page
description: "Class 2: Continuous integration"
---

<div class="breadcrum"><a href="/">Home</a>&nbsp;&gt;&nbspClass 2: Continuous integration</div>

{% for post in site.posts reversed %}
  {% if post.class == "2" %}
    <div class="post-preview">
        <a href="{{ post.url | prepend: site.baseurl }}">
            <h2 class="post-title">            {{ post.title }}
            </h2>
            {% if post.subtitle %}
            <h3 class="post-subtitle">
                {{ post.subtitle }}
            </h3>
            {% endif %}
        </a>
        <p class="post-meta">Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}</p>
    </div>
    <hr>
  {% endif %}
  {% if post.class == "2c" %}
    <div class="post-preview">
      <h2 class="post-title">
        Coming soon: {{ post.title }}
      </h2>
    </div>
    <hr>
  {% endif %}
{% endfor %}
